circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}


body {
  background-color: white;
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, sans-serif;
}

#chart {  
  height: 700px;
  width: 960px;
}

#d3_phyloviewer {
  height: 90%;
  width: 90%;
  padding: 2%;
  position: absolute;
  margin: 0 auto;
  display: block;
  margin-top: 8%;
  background: white;
  overflow: scroll;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: #dddddd;
    /*
    background-image: url('slider_picture.jpeg');
    background-size: 10%;
    */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: solid;
    border-width: 2px;
    border-color: #000000;
    height: 12px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #333333;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: solid;
    border-width: 2px;
    border-color: #000000;
    height: 24px;
    width: 10px;
}

#header_controls {
  position: absolute;
  display: block;
  
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  margin: 0px;
  
  background-color: transparent;
  border: solid;
  border-color: gray;
}

#title_box {
  display: block;
  float: left;
  padding: 5px;
}

#main_title {
  color: green;
}

.header_column {
  float: left;
  display: block;
  padding: 0px;
  margin: 0px;
}

#searchForm {
  
}

#infoBox {
  margin-top: 0px;
  marding-bottom: 0px;
}

#speciesInfo {
  list-style: none;
}

#speciesInfoHeader {
  color: black;
}

#taxonInfoHeader {
  margin: 0px;
}

#taxonInfo li {
  color: black;
}




