circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

body {
  background-color: #cccccc;
}

#d3_phyloviewer {
  float: left;
  background: white;
}

#text_search_sidebar {
  float: right;
  position: absolute;
  margin-left: 1000px;
  background-color: #cccccc;
}

#infoBox {
  display: block;
  margin: 0px;
}

#speciesInfo {
  display: block;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

#speciesInfoHeader {
  
}

#speciesInfo li {
  color: red;
}




