circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}


body {
  background-color: white;
}

#chart {
  height: 700px;
  width: 960px;
}

#d3_phyloviewer {
  position: absolute;
  display: block;
  margin-top: 130px;
  background: white;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: #dddddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #555555;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 20px;
    width: 10px;
}

#header_controls {
  position: fixed;
  display: block;
  
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  padding: 10px;
  margin: 0px;
  
  background-color: white;
  border: solid;
  border-color: gray;
}

#title_box {
  display: block;
  float: left;
  padding: 5px;
}

#main_title {
  color: green;
}

.header_column {
  float: left;
  display: block;
  padding: 10px;
  margin: 0px;
  border: solid;
}

#searchForm {
  
}

#infoBox {

}

#speciesInfo {
  list-style: none;
}

#speciesInfoHeader {
  color: black;
}

#speciesInfo li {
  color: black;
}




