<html>
  <head>

    
    
    <link href="/public/css/force.css" rel="stylesheet" type="text/css" />
        <link href='/public/about.css' rel='stylesheet' type='text/css' />
  
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
    
    <style type="text/css"></style>
  </head>
  <body>
    <div id="aboutPhylotree">
      <h1>About Phylotree</h1>
      <p>
      Welcome to Phylotree, a simple way to visualize the evolution of species. Our project is an interactive viewer for hierarchical data about life on Earth. In evolutionary biology, phylogeny is the study of how species are related to one another. A phylogenetic tree is a way to show these relationships, like a family tree for groups of species.Phylogeny is a science- it's not easy to trace the path of evolution. Currently phylotree displays taxonomy: species classification which gives an idea of what the true phylogeny might be.
      </p>
      <h1>About the Viewer</h1>
      <p>
      In our tree viewer, each taxonomic class is represented as an animated, interactive node, with connections based upon subclassing.
      </p>
      <h2>Searching for Taxa</h2>
      <p> To view the hierarchy of any taxon (classification group) in the ITIS database, enter the exact scientific name of the taxon (for example, "panthera leo") or the Taxonomic Serial Number (TSN) of the taxon (the Green Algae phylum has the TSN 9417).
      </p>
      <h2>Iteracting with the Tree</h2>
      <p> Big, dark nodes are higher up in the hierarchy (more encompassing). Smaller, lighter green nodes are further down (more specific). Blue nodes indicate that there are more subtaxa of that node which are not shown for space reasons. To see the descendents of these blue nodes (or any node) select the node by clicking and press "Reroot" in the left panel. Selecting the node displays information about the selected taxon in that panel.
      </p>
      <p>
        To navigate back up, follow the hierarchical trail- the teal nodes that appear at the top of the viewer.
      </p>
      <p>
        Using PhyloTree, you can see the process of species discovery in action. Move the slider labeled Discovery Date to filter nodes based on the date the first species in that taxon was discovered. Nodes discovered within several years of the selected date will appear red. 
      </p>
      <a href="/">> Go to Phylotree Viewer</a>
      <div id="Credits">
        <p>PhyloTree was created by <a href="https://github.com/jrgoddar">John Goddard</a>, <a href="https://github.com/tdelsest">Tyler Del Sesto</a> and <a href="https://github.com/vhsiao">Vivian Hsiao</a> (names in alphabetical order) as the final project for CS132: Creating Modern Web Applications at Brown University.</p>
       <img class="author-photo" title="Tyler" src="/public/images/tyler.jpg"/>
       <img class="author-photo" title="Vivian" src="/public/images/vivian.jpg"/>
       <img class="author-photo" title="John" src="/public/images/john.jpg"/>
      </div>
    </div>
  </body>
</html>
