<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>Phylotree</title>
  
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.9.5"></script>
  <script type="text/javascript" src="/public/phyloforce.js"></script>
  <!--script type="text/javascript" src="/bootstrap.js"></script-->
  
  <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'/>
  <link href='/public/force.css' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>  <!--link href='/bootstrap.css' rel='stylesheet' type='text/css' /-->
  
  <style type="text/css"></style>
  
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io.connect();
    // the rest of your client-side scripting here...
  </script>
</head>

<body>

<div id=d3_phyloviewer>
  <!-- THIS IS WHERE THE PHYLOTREE VIEWER IS. -->
  <div class='gallery' id='chart'>
    
  </div>
</div>

<div id="header_controls">
  <div id="header_title_box">
    <h1 id="main_title">Phylotree</h1>
  </div>


  <div id="header_date_controls">
    <label>Discovery Date</label>
    <input id="lateTimeSlider" type="range" min="1700" max="2013" name="lateTime" value="2013">
    <input type="number" id="yearField" name="fname" min="1700" max="2013" value="2013">
    <input type="button" id="upClick" value="Update End Year">
    
    <div id=visual_controls>
      <input type="button" value="Play From Beginning" id="fromStartButton"></label>
      <input type="button" value="Play" id="playButton"></label>
      <input type="button" value="Reset" id="stopButton"></label>
    </div>
  </div>
  
  <div id="header_search">
    <form id="tsnSearchForm" method="POST" action="">
	<div>
	  <label>Taxonomic Serial Number: </label>
	  <input id="TSNField" type="number" name="tsn" min="1" value=""></input>
	  <input type="submit" value="Search"></input>
	</div>
    </form>
    <form id="snSearchForm" method="POST" action="">
	<div>
	  <label>Scientific Name: </label>
	  <input id="snField" type="text" name="sn" value=""></input>
	  <input type="submit" value="Search"></input>
	</div>
    </form>
  </div>

</div>

<div id="infoBox">
  <a href="/about" id="aboutLink">About This Viewer</a>
  <div id="taxonInfo">
    <h3 id="taxonInfoHeader">Taxon Information:</h3>
    <label class="taxonInfoLabel">Taxon Name:
      <label id="nameLabel" class="infoData">___</label>
    </label>
    <label class="taxonInfoLabel">Kingdom:
      <label id="kingdomLabel"class="infoData">___</label>
    </label>
    <label class="taxonInfoLabel">Rank:
      <label id="rankLabel"class="infoData">___</label>
    </label>
    <label class="taxonInfoLabel">Common Name:
      <label id="cNameLabel"class="infoData">___</label>
    </label>
    <label class="taxonInfoLabel">Discovery Date:
      <label id="discoveryDateLabel"class="infoData">___</label>
    </label>
    <label class="taxonInfoLabel">ITIS tsn:
      <label id="itisTSNLabel"class="infoData">___</label>
    </label>
    <label class="taxonInfoLabel">Children Shown:
      <label id="childrenShownLabel"class="infoData">___</label>
    </label>
    <input id="rerootButton" type="submit" value="Reroot"></input>
  </div>
</div>

<script type="text/javascript" src="/public/trees.js"></script>
</body>

</html>
