<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>d3.js ~ Force-Directed Graph</title>
  
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.9.5"></script>
  <script type="text/javascript" src="/public/phyloforce.js"></script>
  <!--script type="text/javascript" src="/bootstrap.js"></script-->
  
  <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'/>
  <link href='/public/force.css' rel='stylesheet' type='text/css' />
  <!--link href='/bootstrap.css' rel='stylesheet' type='text/css' /-->
  
  <style type="text/css"></style>
  
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io.connect();
    // the rest of your client-side scripting here...
  </script>
</head>

<body>

<div id=d3_phyloviewer>
  <!-- THIS IS WHERE THE PHYLOTREE VIEWER IS. -->
  <div class='gallery' id='chart'>
    
  </div>
</div>

<div id=header_controls>
  <div id=title_box class=header_column>
    <h1 id=main_title>Phylotree</h1>
  </div>


  <div id=year_select_form class=header_column>
    <form name="yearSelect">
      <input type="number" id="yearField" name="fname" value="">
      <input type="button" id="upClick" value="Update End Year">
    </form>
    <label>End Year</label>
    <input id="lateTimeSlider" type="range" min="1700" max="2015" name="lateTime" value="2013">
    <label id="lateTimeLabel">2013</label>
    <div id=visual_controls>
      <input type="button" value="Play From Beginning" id="fromStartButton"></label>
      <input type="button" value="Play" id="playButton"></label>
      <input type="button" value="Reset" id="stopButton"></label>
    </div>
  </div>
  
  <div class=header_column>
    <form id="searchForm" method="POST" action="">
      <div>
	<label>Common Name: </label>
	<input id="commonNameField" type="text" name="commonName" value=""></input>
      </div>
      <div>
	<label>Scientific Name: </label>
	<input id="scientificNameField" type="text" name="scientificName" value=""></input>
      </div>
      <div>
	<label>Taxonomic Serial Number: </label>
	<input id="TSNField" type="number" name="tsn" value=""></input>
      </div>
      <input type="submit" value="Search"></input>
      <input id="rerootButton" type="submit" value="Reroot"></input>
    </form>
  </div>

  <div id ="infoBox"class=header_column>
    <ul id = "taxonInfo">
      <h3 id="taxonInfoHeader">Taxon Information:</h3>
      <li class="taxonInfoLabel" id="nameLabel">Taxon Name:</li>
      <li class="taxonInfoLabel" id="cNameLabel">Common Name:</li>
      <li class="taxonInfoLabel" id="kingdomLabel">Kingdom:</li>
      <li class="taxonInfoLabel" id="rankLabel">Rank:</li>
      <li class="taxonInfoLabel" id="discoveryDateLabel">Discovery Date:</li>
      <li class="taxonInfoLabel" id="itisTSNLabel">ITIS tsn:</li>
    </ul>
  </div>
  
</div>

<script type="text/javascript" src="/public/trees.js"></script>
</body>

</html>
